* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    font-style: normal;
    background: #212026;
}

.quiz-form {
    padding: 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/bg.png");
    line-height: 1.5;
    font-size: 18px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-form::after {
    content: "";
    z-index: -100;
    position: absolute;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    display: block;
    background: linear-gradient(0deg, #2a2a2c 0%, rgba(45, 45, 47, 0) 100%);
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.title {
    font-weight: 400;
    font-family: "Oranienbaum", serif;
    color: #fff;
}

.title:first-child {
    font-size: 2rem;
}

.title__mobile {
    display: none;
}

.last-btn-elem,
.btn__sub {
    margin-top: 20px;
    margin-right: 35px;
}

.progress__bar progress,
progress::-webkit-progress-bar {
    transition: width 0.5s;
    width: 100%;
    border-radius: 20px;
    background: #1a191f;
}

progress::-webkit-progress-value {
    background: linear-gradient(180deg, #FFF1BF -65%, #FFEFB7 32.02%, #FFD950 126.31%);
    border-radius: 29px;
}

.quez {
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    background: rgba(37, 36, 41, 0.75);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 33px 50px;
    min-height: 692px;
    width: 1124px;
    margin: 0 auto;
}

.quez::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url('../img/loading.gif') center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.quez._sending::after {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1200px) {
    .quez {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .quez {
        padding: 20px 15px;
    }
}

.quez__form {
    row-gap: 25px;
}

.quez .quez__title {
    margin-bottom: 0;
    font-size: 35px;
    color: #f9f9f9;
}

.quez__list {
    row-gap: 25px;
    display: none;
}

.quez__list--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quez__other {
    margin-top: 25px;
}

.quez__qvalue {
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    color: #fff;
    text-align: center;
}

.quez__text {
    opacity: 0.5;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.quez__phrase p {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-bottom: 15px;
}

.quez__items {
    cursor: pointer;
    gap: 20px;
}

.quiz__group {
    position: relative;
}

.quez__item:hover>.quez__radio {
    background-color: #fff;
}

.quez__radio {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.quez-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quez__success {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quez__success-text {
    margin-bottom: 75px;
    font-family: 'Oranienbaum';
    font-size: 40px;
    color: #F9F9F9;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .quez__success-text {
        font-size: 30px;
    }
    .quez__success {
        width: 100%;
    }
}

.quez__item {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.quez__item {
    width: 100%;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 19px;
    color: #fff;
    background-color: #1a191f;
    position: relative;
}

.quez__item::before {
    content: "";
    display: inline-block;
    margin-right: 14px;
    flex: 0 0 10px;
    width: 10px;
    left: 0;
    height: 10px;
    border-radius: 50%;
    transition: 120ms transform ease-in-out;
    background: #242429;
}

.quez__item:hover {
    color: #111;
    transition: 0.5s ease-in-out;
    background-color: #ffe99c;
}

.quez__item:hover::before {
    background: #fff;
    transition: 120ms transform ease-in-out;
}

.quez__radio:checked~.quez__item {
    color: #111;
    transition: 0.5s ease-in-out;
    background-color: #ffe99c;
}

.quez__radio:checked~.quez__item::before {
    background: #fff;
    transition: 120ms transform ease-in-out;
}

.quez__attention {
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: 0.5;
}

.quez__attention.error {
    color: red;
}

.quez__attention.success {
    color: green;
}

.active-input {
    color: #111;
    transition: 0.5s ease-in-out;
    background-color: #ffe99c;
}

.quez__item span,
.quez__item .quez__radio {
    pointer-events: none;
}

.input-radio {
    padding-bottom: 5px;
    margin-left: 10px;
    color: #111;
    margin-top: 6px;
    border: none;
    width: 90%;
    border-bottom: 2px solid #111;
    background-color: transparent;
}

.input-radio:focus {
    outline: none;
}

.text__light {
    margin-top: -20px;
    font-family: Inter;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 400;
    color: #fff;
}

.last-btn-block::after {
    display: none;
}

input[type="text"]:not(.input-radio) {
    color: #fff;
    padding-left: 20px;
}

label input[type="radio"]:checked {
    background-color: red;
}

.inps {
    width: 600px;
}

input[type="text"]:not(.input-radio) {
    border: none;
    width: 90%;
    font-family: "Inter";
    padding-left: 28px;
    height: 70px;
    border-radius: 10px;
    font-size: 16px;
    background: #1a191f;
    color: #fff;
}

body .quez .quez__input {
    width: 100%;
    border: 1px solid transparent;
    font-family: "Inter";
    padding-left: 28px;
    height: 70px;
    border-radius: 10px;
    font-size: 16px;
    background: #1a191f;
    color: #fff;
}

body .quez .quez__input.error {
    border-color: red;
}

body .quez .quez__input.success {
    border-color: green;
}

.btn,
.btn__sub {
    width: 326px;
    height: 90px;
    background-image: linear-gradient( 96.73deg, #fff1bf -14.65%, #ffe99c 19.18%, #ffefb7 44.35%, #ffea9f 73.7%, #ffd950 101.69%), url("../img/btn.png");
    background-size: cover;
    position: relative;
}

button {
    position: relative;
}

button::after {
    content: "";
    width: 97%;
    z-index: -10;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: -7px;
    z-index: -100;
    background-color: #af9b55;
    border-radius: 9px;
}

.quez__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn,
.btn__sub {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    display: block;
    font-weight: bolder;
    border-radius: 8px;
}

.btn__group {
    margin-top: 25px;
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.last__ques {
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    font-size: 15px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.last__ques:hover {
    text-decoration: underline;
}

.thanks {
    text-align: center;
    align-self: center;
    max-width: 700px;
}

.progress__bar {
    display: flex;
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 45px;
    background: #1A191F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
}

@media screen and (max-width: 768px) {
    .progress__bar {
        margin-bottom: 20px;
    }
    .quez .quez__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 114.9%;
    }
}

.proggress_barLine {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    background-color: #FFD950;
    border-radius: 35px;
    background: repeating-linear-gradient(130deg, #ffdf6e, #ffdf6e 10px, #ffd950 0px, #ffd950 20px);
    transition: all 0.4s;
}

.progress__bar~.title__main {
    margin: 20px 0;
}

.not-width {
    width: 98%;
}

@media screen and (min-width: 1700px) {
    .container {
        width: 1300px;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        width: 1400px;
    }
}

@media screen and (min-width: 1500px) {
    .container {
        width: 1800px;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        align-items: center;
    }
    .top {
        flex-wrap: wrap;
    }
    .quez__phrase {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .progress__bar~.title__main {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .wrap {
        width: 100%;
    }
    .last__ques {
        margin: 0;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn__group {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.title__large {
    text-align: center;
}

@media screen and (max-width: 680px) {
    .title__main {
        text-align: center;
    }
    .title__mobile {
        display: block;
    }
    .title__mobile span {
        font-size: 2rem;
    }
    .quez__items {
        flex-wrap: wrap;
        width: 100%;
    }
    .quiz-form::after {
        left: 0;
        top: 0;
    }
}

@media screen and (max-width: 475px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quez {
        background-color: #2a2a2c;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .title__main {
        text-align: left;
        max-width: 500px;
    }
}

@media screen and (max-width: 440px) {
    .title__large {
        font-size: 30px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 340px) {
    .quez__item {
        width: 100%;
    }
    .last__ques {
        text-align: center;
    }
    .title__main {
        font-size: 20px;
    }
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

.owl-dots {
    display: none;
}

.m_scrollspy {
    position: fixed;
    top: calc(50% + 10px);
    left: 62px;
    transform: translate(0, -50%);
    z-index: 999;
    border-bottom: none !important;
}

@media screen and (max-width: 1530px) {
    .m_scrollspy {
        left: 20px;
    }
}

.m_scrollspy ul {
    padding: 0;
    margin: 0;
    max-width: 26px;
    border-bottom: none !important;
}

.m_scrollspy ul .nav-item {
    display: inline-block;
    padding: 0;
    background: none;
}

.m_scrollspy ul .nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.m_scrollspy ul .nav-link {
    border: none;
    color: #FFFFFF;
    opacity: 0.3;
    padding-left: 9px;
    display: flex;
    align-items: center;
}

.m_scrollspy ul .nav-link::before,
.m_scrollspy ul .nav-link.active::before,
.m_scrollspy ul .nav-link:active::before,
.m_scrollspy ul .nav-link:hover::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 39px;
    background-color: #FFF1BF;
    position: absolute;
    left: 0;
    transition: all .4s ease;
}

.m_scrollspy ul .nav-link.active::before,
.m_scrollspy ul .nav-link:active::before,
.m_scrollspy ul .nav-link:hover::before {
    height: 62px;
}

.m_scrollspy ul .nav-link:hover,
.m_scrollspy ul .nav-link:active,
.m_scrollspy ul .nav-link:focus,
.m_scrollspy ul .nav-link.active,
.m_scrollspy ul .nav-link:focus-visible {
    color: #FFF1BF;
    opacity: 1;
    text-decoration: none;
    background: transparent;
    border: 0 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: transparent;
    border: none;
}

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-title {
    font-family: 'Oranienbaum', sans-serif;
    font-weight: 400;
    font-size: 115px;
    line-height: 114.9%;
    color: #F9F9F9;
    margin-bottom: 38px;
}

.header-description {
    font-weight: 300;
    font-size: 20px;
    line-height: 159.9%;
    color: #FFFFFF;
    max-width: 1076px;
    margin: 0 auto 34px;
}

.header-btn {
    box-shadow: 0px 14px 32px rgba(255, 239, 183, 0.24);
    position: relative;
    cursor: pointer;
    max-width: 525px;
    margin: auto;
    height: 100%;
    border-radius: 14px;
}

.header-btn:active:before,
.header-btn:hover:before {
    background: transparent;
    transition: all .4s ease;
    bottom: 0;
}

.header-btn:active,
.header-btn:hover {
    transition: all .4s ease;
    transform: translateY(5px);
}

.header-btn:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 26px;
    background-color: #AF9B55;
    box-shadow: inset 0px 0px 25px 0px rgb(246 230 169 / 54%);
    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.header-btn:after {
    content: "";
    display: block;
    width: 100%;
    border-radius: 14px;
    background-image: linear-gradient(96.73deg, #FFF1BF -14.65%, #FFE99C 19.18%, #FFEFB7 44.35%, #FFEA9F 73.7%, #FFD950 101.69%);
    background-image: -ms-linear-gradient(96.73deg, #FFF1BF -14.65%, #FFE99C 19.18%, #FFEFB7 44.35%, #FFEA9F 73.7%, #FFD950 101.69%);
    box-shadow: inset 0px 0px 25px 0px rgb(246 230 169 / 54%);
    box-shadow: 0px 4px 0px 0px rgb(199 170 69 / 0%);
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}

.header-button {
    position: relative;
    z-index: 3;
    background: none;
    border: none;
    padding: 32px 80px 32px 38px;
    text-align: left;
    display: block;
    text-decoration: none;
}

.header-btn-text {
    font-weight: 600;
    font-size: 20px;
    height: 173px;
    text-transform: uppercase;
    color: #212026;
}

.header-btn-img {
    position: absolute;
    top: -10px;
    right: -80px;
}

.main {
    overflow: hidden;
}

.info {
    padding: 90px 0 75px;
    background: url('../img/info-bg.png');
    background-size: cover;
    background-position: center;
}

.info .container,
.header .container {
    display: block !important;
}

.title,
.title-yellowed {
    font-family: 'Oranienbaum';
    font-weight: 400;
    font-size: 50px;
    line-height: 114.9%;
    color: #F9F9F9;
}

.title-yellowed {
    color: #FFF1BF;
}

.info-title {
    max-width: 740px;
    margin-bottom: 65px;
}

.info-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 757px;
}

.info-item {
    flex-basis: 30%;
    margin-bottom: 49px;
}

html,
body {
    width: 100%;
}

.events {
    background: url('../img/events-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 70px 0 77px;
}

.events-warning {
    max-width: 715px;
    padding-left: 46px;
    position: relative;
    margin-bottom: 40px;
}

.events-warning::before {
    content: '!';
    display: inline-block;
    font-family: 'Oranienbaum';
    font-size: 106px;
    line-height: 121.9%;
    color: #FFEA9F;
    position: absolute;
    left: 0;
    top: -20px;
}

.events-explanations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.events-explanations-item {
    font-family: 'Oranienbaum';
    font-size: 55px;
    line-height: 121.9%;
    color: #212026;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
    background: linear-gradient(180deg, #FFF1BF -56.65%, #FFE99C -7.79%, #FFEA9F 70.94%, #FFD950 111.36%);
    border-radius: 10px;
    padding: 37px 29px;
}

.events-explanations-description {
    max-width: 589px;
    margin-left: 24px;
    width: 100%;
}

.events-description-item {
    max-width: 526px;
    margin-bottom: 24px;
}

.events-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.events-list-item {
    line-height: 173.4%;
    color: #FFE99C;
    padding-left: 63px;
}

.events-list-item-light {
    display: inline-block;
    color: #FFFFFF;
}

.with-circles {
    position: relative;
}

.with-circles::before {
    content: '';
    display: inline-block;
    background: url('../img/circles.svg');
    width: 41px;
    height: 9px;
    position: absolute;
}

.events-list-item.with-circles::before {
    top: 10px;
    left: 0;
}

.events-cards {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.events-card {
    background: linear-gradient(107.81deg, rgba(37, 36, 41, 0.98) -5.33%, rgba(37, 36, 41, 0.3822) 121.71%);
    border-radius: 10px;
    padding: 24px 75px 31px 30px;
    flex-basis: 49%;
}

.events-card-light {
    background: linear-gradient(107.81deg, rgba(37, 36, 41, 0.2) -5.33%, rgba(37, 36, 41, 0.2) 121.71%);
}

.events-card-title {
    font-family: 'Oranienbaum';
    font-size: 35px;
    line-height: 121.9%;
    color: #F9F9F9;
    padding-left: 56px;
    margin-bottom: 15px;
    font-weight: 400;
}

.events-card-title.with-circles::before {
    top: 15px;
    left: 0;
}

.events-card-text {
    max-width: 531px;
}

.events-info,
.savings-bottom-info {
    background: linear-gradient(91.83deg, #FFFFFF -5.98%, #ECECEC 102.23%);
    border-radius: 10px;
    text-align: center;
    max-width: 904px;
    width: 100%;
    margin: 67px auto 60px;
    position: relative;
    padding: 26px 5px;
    color: #212026;
}

.events-info::before,
.savings-bottom-info::before {
    content: '!';
    display: block;
    position: absolute;
    background: url('../img/warning-elipse.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #212026;
    left: 46%;
    top: -35px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-info-text {
    line-height: 180.9%;
    color: #212026;
    max-width: 894px;
}

.events-info-text-bold {
    font-weight: 600;
}

.savings-top,
.savings-bottom {
    padding-top: 90px;
    padding-bottom: 78px;
    background: url('../img/savings-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.savings-title {
    font-family: 'Oranienbaum';
    font-weight: 400;
    font-size: 50px;
    line-height: 114.9%;
    color: #F9F9F9;
}

.savings-top-title {
    margin-bottom: 40px;
}

.savings-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.savings-list-item {
    margin-bottom: 27px;
    padding-left: 35px;
    position: relative;
    max-width: 636px;
}

.savings-list-item::before {
    content: '';
    background: url('../img/check.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
}

.savings-content {
    max-width: 528px;
    width: 100%;
}

.savings-bottom-info {
    color: #212026;
    text-align: left;
    padding: 30px 21px 29px 28px;
}

.savings-bottom-info {
    margin-bottom: 31px;
}

.savings-bottom {
    background: url('../img/savings-bottom-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.savings-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.savings-bottom-title {
    margin-bottom: 46px;
}

.analys {
    background: linear-gradient(0deg, #757576 0%, rgba(114, 114, 115, 1) 100%);
    padding-top: 95px;
    padding-bottom: 75px;
}

.analys__tabs {
    margin-bottom: 21px;
}

.analys .container {
    display: block;
}

.analys-companies {
    margin: 0 -12px;
    padding: 0;
    list-style-type: none;
    overflow: inherit;
}

.analys .swiper-slide {
    width: auto;
}


/* .analys .owl-carousel .owl-stage-outer {
	margin-left: -12px;
} */

@media screen and (max-width: 768px) {
    .analys-companies {
        overflow: inherit;
    }
}

.analys-companies-item {
    width: 306px;
    margin: 20px 12px;
    height: 127px;
    position: relative;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(255, 255, 255, 0.32), 0px 4px 18px rgba(255, 255, 255, 0.32), 0px 4px 18px rgba(255, 255, 255, 0.32);
    border-radius: 10px;
}

.analys-companies-item.is-active .analys-companies-layer {
    position: absolute;
}

.analys-title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.analys-companies-item::after {
    content: '';
    width: 95%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -7px;
    margin: auto;
    z-index: -1;
    border-radius: 10px;
    background: #FFFFFF;
}

.analys-companies-item.is-active::after {
    background: #FFD950;
}

.analys-companies-img {
    position: absolute;
    opacity: 0.2;
}

.analys-companies-item.is-active .analys-companies-layer {
    box-shadow: 0px 4px 18px rgba(255, 255, 255, 0.32), 0px 4px 18px rgba(255, 255, 255, 0.32), 0px 4px 18px rgba(255, 255, 255, 0.32);
    border-radius: 10px;
}

.analys-companies-item.is-active .analys-companies-img {
    opacity: 1;
}

.owl-carousel .owl-item img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: center;
}

.analys-content {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px 65px 52px 86px;
    width: 100%;
    display: none;
}

.analys-content.is-active {
    display: block;
}

.analys-content-item {
    max-width: 535px;
    margin-right: 20px;
}

.analys-content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.analys-content-wrapper:not(:last-child) {
    margin-bottom: 40px;
}

.analys-content-title {
    font-family: 'Oranienbaum';
    font-size: 35px;
    line-height: 121.9%;
    color: #212026;
    position: relative;
    padding-left: 56px;
    margin-bottom: 15px;
}

.analys-content-title::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 41px;
    height: 9px;
    left: 0;
    background: url('../img/dark-circles.svg');
    top: 15px;
}

.analys-content-text {
    color: #212026;
}

.brief-aid {
    background: linear-gradient(0deg, #D2D2D2 0%, rgba(163, 163, 163, 0.7) 100%);
}

.brief {
    padding-top: 90px;
    padding-bottom: 75px;
}

.brief-title {
    text-align: center;
    margin-bottom: 30px;
}

.brief-card {
    margin: 77px 0 71px 0;
    max-width: 376px;
    min-height: 224px;
    border-radius: 10px;
    background: linear-gradient(109.24deg, rgba(255, 255, 255, 0.9) -9.64%, rgba(209, 209, 209, 0.9) 114.62%);
    position: relative;
}

.brief-number {
    font-family: 'Oranienbaum';
    font-weight: 400;
    font-size: 110px;
    line-height: 114.9%;
    color: #FFEA9F;
    position: absolute;
    top: -62px;
    left: 20px;
}

.brief-search {
    position: absolute;
    top: -83px;
    right: 15px;
}

.brief-text {
    font-size: 19px;
    line-height: 170%;
    color: #212026;
    padding-top: 50px;
    padding-left: 39px;
    padding-right: 10px;
    padding-bottom: 36px;
}

.brief-text img {
    margin-right: 20px;
}

.aid {
    padding-top: 90px;
    padding-bottom: 75px;
    overflow-x: hidden;
}

.aid-title {
    font-family: 'Oranienbaum';
    font-size: 50px;
    line-height: 114.9%;
    text-align: center;
    color: #F9F9F9;
    margin-bottom: 60px;
}

.aid-item {
    background: url('../img/aid-item-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 514px;
    max-width: 1296px;
    width: 100%;
    padding: 72px 0px 50px 86px;
    border-radius: 10px;
    position: relative;
}

.aid-item::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 726px;
    background: url(../img/russian-flag.png);
    left: -200px;
    top: -200px;
    z-index: 0;
}

.aid-item::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 726px;
    background: url(../img/russian-flag.png);
    right: -200px;
    top: -200px;
    transform: scale(-1, 1);
}

.aid-item-title {
    font-family: 'Oranienbaum';
    font-weight: 400;
    font-size: 35px;
    line-height: 121.9%;
    color: #212026;
    max-width: 479px;
    margin-bottom: 30px;
}

.aid-item-text {
    font-size: 16px;
    line-height: 170%;
    color: #212026;
    max-width: 535px;
    margin-bottom: 30px;
}

.aid-button {
    position: relative;
    z-index: 3;
    background: none;
    border: none;
    text-align: left;
    width: 295px;
    height: 95px;
    display: block;
    text-decoration: none;
}

.aid-button::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: #AF9B55;
    box-shadow: inset 0px 0px 25px 0px rgb(246 230 169 / 54%);
    position: absolute;
    bottom: -8px;
    left: 0px;
    z-index: 1;
}

.aid-button::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background: linear-gradient(96.73deg, #FFF1BF -14.65%, #FFE99C 19.18%, #FFEFB7 44.35%, #FFEA9F 73.7%, #FFD950 101.69%);
    box-shadow: 0px 14px 32px rgba(255, 239, 183, 0.24);
    border-radius: 9px;
}

.aid-button span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 173.4%;
    text-transform: uppercase;
    color: #212026;
    z-index: 9;
    position: absolute;
    left: 85px;
    top: 35px;
}

.aid-item-title span {
    color: #FFD950;
}

.aid-button:active:before,
.aid-button:hover:before {
    background: transparent;
    transition: all .4s ease;
    bottom: 0;
}

.aid-button:active,
.aid-button:hover {
    transition: all .4s ease;
    transform: translateY(5px);
}

.footer {
    background: #EAEAEA;
    font-family: 'Oranienbaum';
    font-weight: 400;
    font-size: 24px;
    line-height: 170%;
    color: #212026;
    padding: 35px 0;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 1595px) {
    .savings-bottom-img {
        width: 750px;
    }
    .savings-bottom-img img {
        width: 750px;
        object-fit: cover;
    }
}

@media(max-width: 1400px) {
    .events-explanations-item {
        font-size: 45px;
    }
    .brief-text {
        padding-top: 50px;
        padding-left: 29px;
        padding-right: 10px;
        width: 340px;
    }
}

@media(max-width: 1302px) {
    .savings-bottom-title {
        margin-bottom: 0;
    }
    .savings-title {
        font-size: 36px;
        line-height: 114%;
    }
    .events-info,
    .savings-bottom-info {
        margin-bottom: 55px auto;
    }
    .savings-bottom-img,
    .savings-bottom-img img {
        width: 600px;
    }
}

@media(max-width: 1200px) {
    .events-explanations-item {
        font-size: 35px;
    }
    .savings-bottom-wrapper {
        align-items: flex-start;
    }
    /* .brief-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	} */
    .brief-text {
        padding-top: 57px;
        padding-left: 39px;
        padding-right: 10px;
        max-width: 360px;
        width: 100%;
    }
    .m_scrollspy {
        display: none;
    }
}

@media(max-width: 1100px) {
    .header {
        padding: 50px 0;
        height: auto;
    }
    .info {
        height: 100%;
    }
    .analys-title {
        padding: 0 30px;
        font-size: 40px;
    }
}

@media(max-width: 998px) {
    .header-title {
        font-size: 90px;
    }
    .events-explanations {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .events-cards {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .events-explanations-item {
        margin-bottom: 26px;
    }
    .events-card {
        margin-bottom: 20px;
    }
    .events-explanations-description {
        margin-left: 0;
    }
    .savings-bottom-wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .savings-content {
        margin: auto;
    }
    .analys-content-wrapper {
        display: block;
    }
    .analys-content-item {
        margin: auto;
    }
    .analys-content-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media(max-width: 827px) {
    .footer-wrapper {
        flex-direction: column;
    }
    .footer {
        padding: 26px 0;
    }
    .footer-phone,
    .footer-email {
        margin-bottom: 20px;
    }
    .footer-email {
        order: 0;
    }
    .footer-company {
        order: 2;
    }
    .footer-phone {
        order: 1;
    }
}

@media(max-width: 783px) {
    .header-title {
        font-size: 70px;
    }
    .header-description {
        font-size: 18px;
        max-width: 100%;
    }
    .header-btn-text {
        font-size: 18px;
    }
    .header-btn-img {
        width: 145px;
        height: 94px;
        top: -25px;
        right: -50px;
    }
    .header-btn {
        width: 500px;
        max-width: 100%;
    }
    .info-item {
        flex-basis: 45%;
        margin-bottom: 28px;
    }
    .events-explanations-item {
        font-size: 30px;
    }
    .analys-title {
        font-size: 35px;
        line-height: 114%;
        margin-bottom: 30px;
    }
}

@media(max-width: 600px) {
    .header-title {
        font-size: 55px;
    }
    .header-btn-img {
        width: 95px;
        height: 70px;
        top: -7px;
        right: -20px;
    }
    .header-btn {
        width: 340px;
        max-width: 100%;
    }
    .header-btn-text {
        font-size: 12px;
    }
    .header-button {
        padding: 17px 24px 16px 21px;
    }
    .info-title,
    .title,
    .title-yellowed {
        font-size: 35px;
    }
    .events-warning {
        margin-bottom: 20px;
        max-width: 100%;
    }
    .events-explanations-item {
        font-size: 25px;
        line-height: 121.9%;
        margin-bottom: 20px;
    }
    .events-description-item {
        margin-bottom: 20px;
        max-width: 390px;
        font-size: 14px;
    }
    .events-card-title {
        font-size: 25px;
    }
    .events-card-title.with-circles::before {
        top: 10px;
    }
    .savings-top {
        padding-top: 23px;
        padding-bottom: 24px;
    }
    .savings-bottom {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .brief {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .brief-title {
        margin-bottom: 20px;
    }
    .brief-card {
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
    }
    .container {
        gap: 0;
    }
    .brief-number {
        font-size: 100px;
        line-height: 114px;
    }
    .aid-item {
        background: #fff;
        padding: 20px 2px 42px 20px;
        height: 426px;
    }
    .aid-item::after,
    .aid-item::before {
        height: 596px;
    }
    .aid {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .savings-bottom-img {
        width: 100%;
        overflow-x: hidden;
    }
    .savings-bottom-img img {
        width: 429px;
        height: 351px;
    }
    .analys {
        padding: 20px 0 40px;
    }
    .analys-title {
        font-size: 30px;
        line-height: 114%;
        margin-bottom: 20px;
        text-align: left;
    }
    .analys-content.is-active {
        padding: 20px 10px 20px 15px;
    }
    .analys-content-text {
        font-size: 14px;
        line-height: 23px;
    }
    .analys-content-item:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media(max-width: 485px) {
    .savings-title {
        font-size: 30px;
        line-height: 114.9%;
    }
    .savings-top-title {
        margin-bottom: 27px;
    }
    .savings-bottom-title {
        margin-bottom: 15px;
    }
    .savings-list-item {
        margin-bottom: 15px;
    }
    .savings-bottom-info {
        margin-bottom: 20px;
        margin-top: 35px;
        padding: 30px 16px;
    }
    .savings-bottom-info::before {
        left: 40%;
    }
    .brief-text {
        font-size: 16px;
        line-height: 27px;
    }
    .btn__again {
        margin: 24px 10px;
        width: 200px;
        padding: 15px 0;
    }
    .aid-item-title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .aid-item-text {
        font-size: 14px;
        line-height: 170%;
        max-width: 307px;
        margin: 0 auto 20px;
    }
    .aid-button {
        margin: auto;
    }
    .analys-content-title {
        font-size: 25px;
        line-height: 121.9%;
    }
    .analys-content-text {
        max-width: 100%;
    }
    .brief-text {
        max-width: 320px;
        padding-left: 20px;
        padding-top: 45px;
    }
}

@media(max-width: 423px) {
    .header {
        padding: 30px 0;
    }
    .header-title {
        font-size: 45px;
        margin-bottom: 26px;
    }
    .header-btn-text {
        line-height: 1.4;
    }
    .header-description {
        margin-bottom: 26px;
        line-height: 1.5;
    }
    .header-button {
        padding: 17px;
    }
    .header-btn-img {
        right: -20px;
        top: 0px;
    }
    .header-btn {
        margin-bottom: 26px;
    }
    .info {
        padding: 15px 0;
    }
    .info-title.title,
    .info.title-yellowed {
        font-size: 30px;
    }
    .info-item-text {
        font-size: 12px;
        line-height: 1.4;
    }
    .info-title {
        font-size: 30px;
    }
    .events {
        padding: 20px 0 38px;
    }
    .events-warning {
        font-size: 14px;
        line-height: 159.9%;
    }
    .events-explanations-item {
        padding: 19px 10px 19px 12px;
    }
    .events-explanations {
        margin-bottom: 20px;
    }
    .events-info {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .events-info-text {
        font-size: 14px;
        line-height: 25px;
    }
    .events-card-text {
        line-height: 25px;
        font-size: 14px;
    }
    .events-card {
        padding: 31px 18px 20px 30px;
    }
    .savings-list-item {
        font-size: 14px;
        line-height: 29px;
    }
    .title.title__main {
        font-size: 20px;
        line-height: 114.9%;
        margin: 0;
    }
    .title__large {
        font-size: 30px;
        line-height: 114.9%;
    }
    .btn {
        font-size: 15.0184px;
        line-height: 173.4%;
        width: 100%;
    }
    progress {
        margin-top: 10px;
    }
    .quiz-form .container,
    .btn__group {
        display: block;
    }
    .last__ques {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .brief-card.brief-card-2 {
        height: 146px !important;
    }
    .brief-card.brief-card-1 {
        height: 176px !important;
    }
    .brief-card.brief-card-3,
    .brief-card.brief-card-5 {
        height: 169px !important;
    }
    .brief-card.brief-card-4 .brief-text {
        max-width: 320px;
        padding-top: 35px;
    }
    .btn__block::after {
        width: 300px;
        transform: translateX(-150px);
        bottom: -5px;
    }
}

@media(max-width: 392px) {
    .header-btn {
        width: 290px;
    }
    .header-btn-img {
        width: 85px;
        height: 65px;
        right: -20px;
        top: -15px;
    }
    .header-title {
        font-size: 40px;
    }
    .events-info::before {
        left: 40%;
    }
    .savings-bottom {
        padding-top: 0;
    }
    .aid-button {
        width: 244px;
        height: 78px;
    }
    .aid-button span {
        left: 75px;
        top: 28px;
        font-size: 13.2339px;
        line-height: 173.4%;
    }
    .aid-item {
        height: 446px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .analys-title span {
        display: block;
    }
}

@media(max-width: 373px) {
    .savings-bottom-img img {
        height: 270px;
        width: 370px;
    }
    .brief-number {
        font-size: 70px;
        line-height: 1.4;
        top: -45px;
    }
}

@media(max-width: 330px) {
    .header-btn-img {
        width: 80px;
        height: 60px;
        right: -10px;
        top: -20px;
    }
}

@media(max-width: 320px) {
    .header-title {
        font-size: 35px;
    }
    .header-btn-img {
        width: 80px;
        height: 60px;
        right: -10px;
        top: -10px;
    }
    .header-btn {
        width: 260px;
    }
    .header-btn-text {
        font-size: 10px;
        line-height: 173.4%;
    }
    .info-title {
        font-size: 25px;
    }
    .events-card-text,
    .events-info-text,
    .events-warning {
        font-size: 12px;
        line-height: 1.4;
    }
    .events-card-title {
        font-size: 20px;
    }
    .savings-bottom-title {
        font-size: 25px;
        line-height: 30px;
    }
    .brief-search img {
        width: 120px;
    }
    .brief-search {
        top: -47px;
    }
    .aid-button {
        width: 190px;
        height: 70px;
    }
    .aid-button span {
        left: 49px;
        top: 23px;
    }
    .aid-item-text {
        font-size: 12px;
        line-height: 22px;
    }
}